:root{
    --background-color: #0d1b2a;
    --primary-color: #778da9;
    --secondary-color: #415a77;
    --secondary-background-color: #1b263b;
    --text-color: #e0e1dd;

    --font-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-base: 0.85rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-base);
}



.infos{
    width: 100%;
    height: 100px;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 25px;
    text-align: center;
    
    & h1{
        margin-top: 5px;
        font-size: 25px;
        color: var(--primary-color);
        
    }
    & h4{
        font-size: 10px;
        color: var(--secondary-color);
        
    }
    
    & .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        & ul{
            display: flex;
            position: absolute;
            bottom: 10px;
            width: 50%;
            justify-content: space-between;
            list-style: none;
            & li a {
                color: var(--primary-color);
                font-size: 20px;
            }
        } 
    }
}



.bio{
    font-size: var(--font-size-base);
    padding: 15px;
    
    & ul{
        margin-left: 25px;
    }
}

